<h3>以下の内容で送信する</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Content:<%= @post.content %></p>
  <%= form.submit "submit" %>
  <%= form.submit "back", name: 'back' %>
<% end %>
