<p id="notice"><%= notice %></p>
<header>
  <h1>ホーム</h1>
</header>

<table class="index">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td id="post_content"><%= post.content %></td>
        <td class="index_button"><%= link_to '詳細', post %></td>
        <td class="index_button"><%= link_to '編集', edit_post_path(post) %></td>
        <td class="index_button"><%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'つぶやく', new_post_path %>

<footer>
<p>Copyright</p>
</footer>
